body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

p{
  line-height: 1.4;
  color: #7f969e;
}

section.whiteContentContainer{
  background color: white;
  padding: 50px 0 70px 0;
}

.GreyContentContainer{
  background-color: #EDEff3;
  padding: 50px 0 70px 0;
}

.GreyFooter{
  background-color: #504f4f;
  color: #c7c5c5;
}

section.whiteContentContainer h2{
  color: #0a465b;
  font-size: 34px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 32px;
}

section.whiteContentContainer p{
  color: #7f969e;
  font-size: 16px;
  text-align: center;
  max-width: 900px;
  margin:auto;
  padding: 10px 0;
  line-height: 1.4;
  height: 100%
}

section.whiteContentContainer p span.highlight {
  color:#FFA500;
}

section.GreyContentContainer h2{
  color: #0a465b;
  font-size: 34px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 32px;
}

section.GreyContentContainer p{
  color: #7f969e;
  font-size: 16px;
  text-align: center;
  max-width: 900px;
  margin:auto;
  padding: 10px 0;
  line-height: 1.4;
}

section.GreyContentContainer h2{
  color: #0a465b;
  font-size: 34px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 32px;
}

section.GreyContentContainer div.ContainerWithFlex p{
background-color: white;
  color: #7f969e;
  font-size: 16px;
  text-align: center;
  margin:auto;
  padding: 10px 0;
  line-height: 1.4;

}

section.GreyContentContainer div.ContainerWithFlex h3{
background-color: #107698;
font-weight: 200;
text-align: center;
font-size: 24px;
padding: 15px 20px 25px;
margin-top: 0px;
color: #fff;
}

section.NoFlexContentContainer h2{
  color: #0a465b;
  font-size: 34px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 32px;

}

section.NoFlexContentContainer p{
  background-color: white;
    color: #7f969e;
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
    line-height: 1.4;
    max-width: 900px;
    margin: auto;


}


.ContainerWithFlex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 24px;
  width: 1100px;
  margin: 48px auto 0;
}

.ContainerWithFlex article.parttime{
  max-width: 350px;
}


section.NoFlexContentContainer div.ContainerWithFlex article.parttime h4{
  color: #0a465b;
  text-align: center;
  font-weight: 800;
  border-bottom: 2px #FDB530 solid;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;

}

section.GreyContentContainer div.ContainerWithFlex article.consultingflex p span{
  color: #FFA500;
}

section.whiteContentContainer, section.GreyContentContainer, section.NoFlexContentContainer, section.ContainerWithFlex{
  padding: 54px 0;
}

div.ContainerWithFlex article.consultingflex{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 24px;
  width: 1100px;
  margin: 48px auto 0;
}
.consultingflex h3{
  font-size: 30px;
  font-weight: 300;
  padding: 0 16px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;

}

footer{
  padding: 40px 0;
  text-align: center;
  font-size: 18px;
}
